<div style="width:500px;height:500px;position:relative;overflow:hidden;">
  <div class="tiles" transform="{{matrix}}" style="width:100%;height:100%;position:absolute;transform-origin:0px 0px;">
  {{#each tiles}}
    <img src="https://tile.openstreetmap.org/{{this.z}}/{{this.x}}/{{this.y}}.png" style="position:absolute;width:auto !important;left:{{this.left}}px;top:{{this.top}}px;">
  {{/each}}
  </div>
  <div class="data" style="height:100%;width:100%;position:absolute;">
    <svg x="0" y="0" width="100%" height="100%">
      <g transform="{{matrix}}">
        {{#each paths}}
        {{{this}}}
        {{/each}}
      </g>
    </svg>
  </div>
</div>
